html {
    background: linear-gradient(#94c7ec, #d3dafa, #ffffff);
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 0 32px;
}

main {
    display: flex;
}

#outputRabbit {
    width:  320px;
    background-color: #daebf9;
    box-shadow: 0 6px 9px #0004;
    border-radius: 24px;
    padding: 16px;
    margin: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #rabbitName {
        font-size: 28px;
        font-weight: bold;
        margin: 8px;
    }

    #accessoryBox img {
        width: 94px;
        transition: 0.4s ease-out;
    }
}
img.enabled {
    opacity: 100%;
}
img.disabled {
    opacity: 35%;
    transform: scale(0.92);
}

#mainRabbit {
    width: 300px;
}
.default {
    filter: saturate(0);
}
.blue {
    filter: hue-rotate(200deg); 
}
.green {
    filter: hue-rotate(110deg); 
}
.yellow {
    filter: hue-rotate(50deg); 
}
.red {
    filter: hue-rotate(0deg); 
}



#settingsPane {
    background-color: #fff;
    box-shadow: 0 6px 9px #0004;
    border-radius: 32px;
    padding: 16px;
    margin: 8px;

    fieldset {
        border-radius: 16px;
        border: 3px solid #6569e1;

        legend {
            padding: 0 1cm;
            color: slateblue;
            font-weight: bold;
        }
    }
}

button {
    background-color: skyblue;
    color: white;
    font-size: 23px;
    text-shadow: 0 2px 3px #0008;
    border: 5px dotted dodgerblue;
    border-radius: 64px;
    padding: 3px 15px;
    box-shadow: 0 5px 13px #0004;
    cursor: pointer;

    transition: 0.2s ease-out;
    &:disabled {
        opacity: 50%;
        filter: saturate(50%);
        transform: scale(0.99);
    }
    &:hover {
        transform: translateY(-2px) scale(1.02);
        box-shadow: 0 8px 16px #0003;
    }
    &:enabled:active {
        transform: translateY(1px) scale(0.98);
        box-shadow: 0 3px 8px #0008;
    }
}

#resultBox {
    position: fixed;
    bottom: 10%;
    width: 40%;
    margin: 0 30%;
    
    padding: 32px;
    text-align: start;
    background: white;
    border: 3px solid #6569e1;
    border-radius: 32px;
    box-shadow: 0 17px 38px #000A;
}